body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
  background-color:white;
  color: black;
}

h1{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #62db86;
}

form {
  max-width: 600px;
  margin: auto;
  background-color:#62db86;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

fieldset {
  border: 2px solid #62db86;
  border-radius: 2px;
  margin-top: 20px;
  padding: 20px;
  background-color:#62db86;
}

.profilePicture{
  display: block;
  margin: 0, auto;
  border: 2px solid #62db86;
  box-shadow: 0 4px 8px rgb(39, 108, 40);
  border-radius: 500%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

legend{
  font-weight: bold;
  text-align: center;
  color: black;
}

label{
  display: block;
  margin-top: 10px;
  color: black;
}

input,textarea {
  width: calc(100% - 1px);
  padding: 8px;
  margin-top: 4px;
  border: 1px solid rgb(33, 112, 19);
  border-radius: 7px;
  box-sizing: border-box;
}

button{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #62db86;
  color: black;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button:hover{
  background-color: #1a8038;
  transition:ease-in-out;
  transition-duration: 300ms;
}

#resumeOutput{
  max-width: 600px;
  margin: auto;
  padding: 20px;
  color:  black;
  border: 2px solid #62db86;
  border-radius: 8px;
  background-color:#62db86;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6)
}

#resumeOutput h2{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}

/* Button container */
#buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#buttonContainer button {
  display: inline-block;
  width: auto;
  padding: 10px;
  background-color: #62db86;
  color: black;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

#buttonContainer button:hover {
  background-color: #6ae08c;
}